<div id="content">
<pre>
    {{testText}}
</pre>

    </p>

    <button type="button" class="btn btn-default" ng-click="testFunc()">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Request
    </button>
</div>